extends layout

block content
    div#container
        div#us-map
        div#bogus-chart

    != css('dc')
    != css('app')

    != js('d3')
    != js('topojson')
    != js('crossfilter')
    != js('dc')

    != js('charts')

