@import "bourbon/bourbon";
@import "neat/neat";

#container {
    @include outer-container;
}

#us-map {
    height: 250px;
    @include span-columns(12);
    @include omega;
}

.legend {
    @include span-columns(2);
    height: 40px;
    margin: 10px;
    font-size: 10px;
}
